<div id="current-graph-name" class="content-header"></div>
<%
  names = ['day', 'week', 'month']
  for (i=0; i<names.length; i=i+1) {
%>
  <div class="graph-details" id="graph-details-<%= names[i] %>">
    <p>
      The temperature (orange) and desired temperature (blue) for the thermostat over the past <%= names[i] %>.
    </p>
  </div>
<% } %>
