<html>
  <head>
    <title>Therms</title>

    <link href="/css/grid.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/css/power-hungry.css" media="screen" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,regular' rel='stylesheet' type='text/css'>

    <script src="/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/jquery.flot.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/thermostat.js" type="text/javascript" charset="utf-8"></script>

  </head>
  <body>
    <div id="container-header" class="container_12">
      <div id="header" class="grid_6">
        <h1>Thermostat</h1>
      </div>
      <div id="header-description" class="prefix_1 grid_5">
        <div>
          Tracking personal thermostat usage since 2011.
        </div>
      </div>
    </div>

    <div class="container_12">
      <div id="holder-container" class="grid_12">
        <div id="holder"></div>
      </div>
    </div>
  </body>
</html>
